

#contact p, label, legend {  }


#contact { display: block; width: auto; margin: 0; padding: 0px; border: none; overflow:visible }

/* Form style */

#contact label { display: none; float: none; height:0px; }
input, textarea, select { width:240px; height:26px; padding:24px 30px 23px 30px; font: 18px 'Ruda', 'Helvetica Neue', Arial, Helvetica, sans-serif; color:#b8b8b8; border:0; border-bottom:1px solid #4d4b4a; border-top:1px solid #63615f; background:#595755; letter-spacing:-1px; -webkit-transition: all 0.2s ease 0s; -moz-transition: all 0.2s ease 0s; -o-transition: all 0.2s ease 0s; transition: all 0.2s ease 0s; float:none; display:block;}
#contact input.third { margin: 0px 0px 0px 0 !important; }
#contact input#name {border-top:0px; }
#contact textarea { margin-bottom:0px; padding-top:26px; margin-right:0px !important; width:155px; border:0px; border-right:1px solid #47484b;  border-top:1px solid #63615f;}
#contact #subject { width: 292px !important; }
input:focus, textarea:focus, select:focus { outline:0; }
input.submit { display:block; position:absolute; bottom:0px; right:0px; width:84px; height:151px; -moz-transition: all 0.2s ease 0s; -o-transition: all 0.2s ease 0s; transition: all 0.2s ease 0s; border:0px; padding:0px; border-top:1px solid #63615f; border-left:1px solid #63615f; background:url(../images/bg-submit.png) center center no-repeat #595755; background-size:24px 28px; text-indent:-9999px; cursor:pointer}
#contact input.submit:hover {  }


#contact fieldset { padding-left:0px;}

#contact span.required { padding-left:28px; background:url(../images/bg-bullet.png) no-repeat 12px 5px; margin-left:-28px; }

#message { margin: 0; padding: 0px; z-index:5500; position:absolute !important; background:#494746; top:0px; left:0px; height:300px; }
#success_page h3 { padding:37px 30px 20px 30px !important; text-transform:none }
#success_page p {position:relative !important; padding-bottom:30px; }

.error_message { display: block; width:240px; height:242px; padding:29px 30px 29px 30px; background: #494746; color:#f97220;  }

.loader { padding: 22px 0 0 10px; }

#contact .padding-right {padding-right:20px; }
#comments {height: 101px; }
